{{ define "js"}}

    <script type="text/javascript" src="/bundle/js/datatables.min.js"></script>
    <script type="text/javascript" src="/bundle/js/bootstrap4-toggle.min.js"></script>
    {{ .CsrfField }}
    <script>
        var events = {
            //<span class="d-flex align-item-center"><input class="mr-2" checked data-target="validator_balance_decreased" type="checkbox"> <span style="height: 1rem;" class="mb-1">balance decreases</span></span>
            validator_balance_decreased: 'balance decreases',
            validator_attestation_missed: 'attestations missed',
            validator_got_slashed: 'validator slashed',
            validator_proposal_missed: 'proposals missed',
            validator_proposal_submitted: 'proposals submitted',
            eth_client_update: 'eth client update',
        }

        var evetnsArr = [
            ['validator_balance_decreased', 'balance decreases'],
            // ['validator_proposal_missed', 'proposals missed'],
            ['validator_got_slashed', 'validator slashed'],
            ['validator_proposal_submitted', 'proposals submitted'],
            ['validator_proposal_missed', 'proposals missed'],
            ['validator_attestation_missed', 'attestations missed'],
        ]

        function createCheckbox(filter, event, checked, text) {
            return '<span class="d-flex" style="margin:8px;"><div class="mr-2 spinner-border d-none spinner-border-sm" role="status"><span class="sr-only">Loading...</span></div><input id="'+event+filter+'" onchange="ToggleEvent(this)" data-filter="' + filter + '" data-event="' + event + '" class="mr-2" ' + checked + ' data-target="validator_balance_decreased" type="checkbox" data-toggle="toggle" data-on="&shy;" data-off="&shy;" data-size="xs"> <span style="height: 1rem;margin-left: 7px;" class="mb-1">' + text + '</span></span>'
        }

        var debounceTimeouts = {}

        function ToggleEvent(box) {
            box.classList.add('d-none')
            if(box.previousSibling) box.previousSibling.classList.remove('d-none')


            if (debounceTimeouts[box.id]) {
                clearTimeout(debounceTimeouts[box.id])
                debounceTimeouts[box.id] = null
            } else {
                debounceTimeouts[box.id] = setTimeout(function () {

                    var filter = box.getAttribute('data-filter')
                    var event = box.getAttribute('data-event')
                    filter = encodeURI(filter)
                    event = encodeURI(event)

                    let csrfToken = document.getElementsByName("CsrfField")[0].value

                    debounceTimeouts[box.id] = null
                    if (box.checked) {
                        // subscribe
                        fetch('/user/notifications/subscribe?filter=' + filter + '&event=' + event, {
                            method: 'POST',
                            headers: {"X-CSRF-Token": csrfToken},
                            credentials: 'include'
                        }).then(function (response) {
                            box.classList.remove('d-none')
                            if(box.previousSibling) box.previousSibling.classList.add('d-none')

                            if (response.status === 200) {
                                // $('#subscriptions').DataTable().ajax.reload()
                                $('#subscriptions').DataTable().ajax.reload()
                            } else {
                                box.checked = false
                                console.log('unexpected status', response.status)
                            }
                        }).catch(function (err) {
                            box.classList.remove('d-none')
                            if(box.previousSibling) box.previousSibling.classList.add('d-none')

                            console.log(err)
                            box.checked = false
                        })
                    } else {
                        // unsubscribe
                        fetch('/user/notifications/unsubscribe?filter=' + filter + '&event=' + event, {
                            method: 'POST',
                            headers: {"X-CSRF-Token": csrfToken},
                            credentials: 'include'
                        }).then(function (response) {
                            box.classList.remove('d-none')
                            if(box.previousSibling) box.previousSibling.classList.add('d-none')

                            if (response.status === 200) {
                                $('#subscriptions').DataTable().ajax.reload()
                            } else {
                                box.checked = true
                                console.log('unexpected status', response.status)
                            }
                        }).catch(function (err) {
                            box.classList.remove('d-none')
                            if(box.previousSibling) box.previousSibling.classList.add('d-none')

                            console.log(err)
                            box.checked = true
                        })
                    }
                }, 300)
            }
        }

        // function editRow(row) {
        // 	console.log('editing row:', row)
        // 	var rows = document.getElementById('notifications').querySelectorAll('tbody tr')
        // 	rows[row].querySelector('input[type="checkbox"').toggleAttribute('disabled')
        // 	var edit = rows[row].querySelector('i.fas.fa-edit')
        // 	var initalValue
        // 	if (edit) {
        // 		edit.classList.remove('fa-edit')
        // 		edit.classList.add('fa-save')
        // 		initalValue = rows[row].querySelector('input[type="checkbox"]').checked
        // 	} else {
        // 		var save = rows[row].querySelector('i.fas.fa-save')
        // 		save.classList.remove('fa-save')
        // 		save.classList.add('fa-edit')
        // 		var value = rows[row].querySelector('input[type="checkbox"]').checked
        // 		console.log('value', value)

        // 		if (initalValue !== value) {
        // 			// fetch()
        // 		}
        // 	}
        // }

        $(document).ready(function () {
            $('#notifications').DataTable({
                processing: true,
                serverSide: true,
                ordering: false,
                searching: false,
                ajax: '/user/notifications/data',
                pagingType: 'full',
                language: {
                    searchPlaceholder: 'Search by Validator Id',
                    search: ''
                },
                columnDefs: [
                    {
                        targets: 1,
                        data: '1',
                        render: function (data, type, row, meta) {
                            console.log(data)
                            if (data === '0.00 ETH') {
                                return 'pending'
                            }
                            return data
                        }
                    },
                    {
                        targets: 2,
                        data: '2',
                        // width: '70%',
                        render: function (data, type, row, meta) {
                            // var subscriptions = data.split(',')
                            // console.log(data)
                            var checked = ''
                            if (row.length) {
                                var address = (/0x[0-9a-fA-F]{96}/).exec(row[0])
                                if (address.length) {
                                    data.map(function (event) {
                                        if (event === 'validator_balance_decreased') {
                                            checked = 'checked'
                                        }
                                    })
                                    var checkboxes = evetnsArr.map(function (event) {
                                        var type = event[0]
                                        var text = event[1]
                                        checked = ''
                                        data.map(function (checkedEvent) {
                                            if (checkedEvent === type) {
                                                checked = 'checked'
                                            }
                                        })
                                        $(function() {
                                            $('input[type=checkbox][data-toggle^=toggle]').bootstrapToggle()
                                        })
                                        return createCheckbox(address, type, checked, text)
                                    })
                                    return checkboxes.reduce(function (acc, curr) {
                                        return acc += '<span class="mx-1">' + curr + '</span>'
                                    }, '')
                                } else {
                                    console.error('address not found to create checkbox', row[0])
                                }
                            }
                            return data
                        }
                    },
                ],
                preDrawCallback: function () {
                    // this does not always work.. not sure how to solve the staying tooltip
                    try {
                        $('#notifications').find('[data-toggle="tooltip"]').tooltip('dispose')
                    } catch (e) {
                    }
                },
                drawCallback: function (settings) {
                    formatTimestamps()
                },
            })
            $('#subscriptions').on('xhr.dt', function (e, settings, json, xhr) {
                if (json.data && json.data.length) {
                    document.getElementById('subscription-placeholder').classList.add('d-none')
                    document.getElementById('subscriptions-container').classList.remove('d-none')
                } else {
                    document.getElementById('subscription-placeholder').classList.remove('d-none')
                    document.getElementById('subscriptions-container').classList.add('d-none')
                }
            }).DataTable({
                processing: true,
                serverSide: true,
                ordering: false,
                searching: false,
                ajax: {
                    url: '/user/subscriptions/data',
                },
                pagingType: 'full',
                language: {
                    searchPlaceholder: 'Search by subscription',
                    search: ''
                },
                columnDefs: [{
                    targets: 1,
                    data: '1',
                    render: function (data, type, row, meta) {
                        console.log(data)
                        return events[data]
                    }
                }],
                drawCallback: function (settings) {
                    formatTimestamps()
                },
            })
        })
    </script>
{{end}} {{ define "css"}}
    <link rel="stylesheet" type="text/css" href="/bundle/css/bootstrap4-toggle.min.css"/>
    <link rel="stylesheet" type="text/css" href="/bundle/css/datatables.min.css"/>
    <style>
        input[type="checkbox"] {
            width: 1rem;
            height: 1rem;
        }

        #notifications > tbody > tr > td:nth-child(3) {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: flex-start;
            align-items: left;
        }

        #notifications > tbody > tr > td:nth-child(3) > span {
            flex: 1 1 200px;
            max-width: 210px;
        }
    </style>

{{end}}
{{ define "content"}}
    {{with .Data}}
        <div class="container mt-2">
            <div class="my-3">
                <div class="d-md-flex py-2 justify-content-md-between">
                    <h1 class="h4 mb-1 mb-md-0"><i class="fas fa-envelope-open-text mr-2"></i></i>Notifications</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb font-size-1 mb-0" style="padding:0; background-color:transparent;">
                            <li class="breadcrumb-item"><a href="/" title="Home">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Notifications</li>
                        </ol>
                    </nav>
                </div>
            </div>
            {{ template "notificationsWatchlist" . }}
            {{ template "notificationSubscriptions" .}}
        </div>
    {{end}}
{{end}}